/* General Stylings */
.EquipmentRFIDTagsList-Container {
  display: flex;
  overflow-y: auto;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  overflow: hidden;
}

.EquipmentRFIDTagsList-Message {
  color: var(--Gray3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  width: 100%;
}

.EquipmentRFIDTagsList-Content,
.EquipmentRFIDTagsList-Container::-webkit-scrollbar {
  display: none;
}

.EquipmentRFIDTagsList-ListHeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.EquipmentRFIDTagsList-Content {
  flex: 1;
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
}

.EquipmentRFIDTagsList-CardContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
}

.EquipmentRFIDTagsList-TagID {
  flex: 1;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.EquipmentRFIDTagsList-Model {
  flex: 1;
  white-space: normal;
  word-wrap: break-word;
  overflow: hidden;
}

.EquipmentRFIDTagsList-CardHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.EquipmentRFIDTagsList-CardDetails {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.EquipmentRFIDTagsList-CardDetailsInActive {
  display: none;
}

.EquipmentRFIDTagsList-ExpandButton {
  padding: 0;
  box-sizing: border-box;
}

/* For tablets and bigger devices */
@media screen and (min-width: 481px) {
  .EquipmentRFIDTagsList-ListHeaderContainer {
    gap: calc(2.225vmin);
    padding: calc(2.225vmin);
    border: calc(0.278125vmin) solid var(--Gray1);
  }

  .EquipmentRFIDTagsList-SerialID {
    width: calc(76.20625vmin);
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
  }

  .EquipmentRFIDTagsList-CardDetails {
    gap: calc(2.225vmin);
    padding: calc(2.225vmin);
    border-bottom: calc(0.278125vmin) solid var(--Gray1);
    border-right: calc(0.278125vmin) solid var(--Gray1);
    border-left: calc(0.278125vmin) solid var(--Gray1);
  }

  .EquipmentRFIDTagsList-CardHeader {
    gap: calc(2.225vmin);
    padding: calc(2.225vmin);
    border-bottom: calc(0.278125vmin) solid var(--Gray1);
    border-right: calc(0.278125vmin) solid var(--Gray1);
    border-left: calc(0.278125vmin) solid var(--Gray1);
  }

  .EquipmentRFIDTagsList-Type {
    width: calc(76.20625vmin);
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
  }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
  .EquipmentRFIDTagsList-ListHeaderContainer {
    gap: calc(4.45vmin);
    padding: calc(4.45vmin);
    border: calc(0.55625vmin) solid var(--Gray1);
  }

  .EquipmentRFIDTagsList-SerialID {
    width: calc(40.125vmin);
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
  }

  .EquipmentRFIDTagsList-CardHeader {
    gap: calc(4.45vmin);
    padding: calc(4.45vmin);
    border-bottom: calc(0.55625vmin) solid var(--Gray1);
    border-right: calc(0.55625vmin) solid var(--Gray1);
    border-left: calc(0.55625vmin) solid var(--Gray1);
  }

  .EquipmentRFIDTagsList-CardDetails {
    gap: calc(4.45vmin);
    padding: calc(4.45vmin);
    border-bottom: calc(0.55625vmin) solid var(--Gray1);
    border-right: calc(0.55625vmin) solid var(--Gray1);
    border-left: calc(0.55625vmin) solid var(--Gray1);
  }

  .EquipmentRFIDTagsList-Type {
    width: calc(40.125vmin);
    white-space: normal;
    word-wrap: break-word;
    overflow: hidden;
  }
}
