/* General Stylings */
.TypeInventory-Container {
    display: grid;
    overflow-y: auto;
    height: 100%;
}

/* For Tablets and Larger Screen */
@media screen and (min-width: 481px) {
    .TypeInventory-Container {
        height: calc(100% - calc(calc(6.675vmin) + calc(2.225vmin)));
        margin-top: calc(2.225vmin);
        grid-template-columns: repeat(auto-fill, minmax(calc(36.8vmin), 1fr));
        gap: calc(3.02vmin);
        grid-template-rows: repeat(auto-fill, minmax(calc(13.90625vmin), calc(13.90625vmin)));
    }
}

/* For mobiles and smaller screen */
@media screen and (max-width: 480px) {
    .TypeInventory-Container {
        height: calc(100% - calc(calc(13.35vmin) + calc(22.25vmin)));
        margin: calc(4.45vmin) 0px;
        grid-template-columns: repeat(auto-fill, minmax(44vmin, 1fr));
        gap: calc(4.45vmin);
        grid-template-rows: repeat(auto-fill, minmax(calc(32.25vmin), calc(32.25vmin)));
    }
}