.Dashboard-PageContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Dashboard-PageHeaderContainer {
    width: 100%;
    height: calc(9.45625vmin);
    border-bottom: calc(0.278125vmin) solid var(--Gray1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: calc(2.225vmin) calc(2.225vmin);
}

.Dashboard-ContentContainer {
    width: 100%;
    height: 100% - calc(9.45625vmin);
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.Dashboard-LeftContentPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    height: calc(100% - calc(4.45vmin));
    box-sizing: border-box;
    margin: calc(2.225vmin) calc(2.225vmin);
    overflow-y: hidden;
}

.Dashboard-SectionHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(calc(6.675vmin) + calc(2 * calc(0.278125vmin)));
}

.Dashboard-InventorySection {
    width: 100%;
    height: calc(4 * calc(2.225vmin) + calc(calc(34.4875vmin) + calc(1vmin)));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: calc(4.171875vmin)
}

.Dashboard-SearchBar {
    width: calc(38.9375vmin);
}

.Dashboard-InventorySummaryList {
    width: 100%;
    height: calc(calc(100%) - calc(6.675vmin));
    margin-top: calc(2.225vmin);
}

.Dashboard-ReservationSection {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.Dashboard-ReservationFilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.Dashboard-ReservationList {
    width: 100%;
    height: calc(calc(100%) - calc(6.675vmin));
    margin-top: calc(2.225vmin)
}

.Dashboard-RightContentPanel {
    width: calc(calc(45.6125vmin));
    height: 100%;
    border-left: calc(0.278125vmin) solid var(--Gray1);
}

.Dashboard-RightContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    height: calc(100% - calc(2.225vmin));
    padding: calc(2.25vmin) calc(2.225vmin) 0px calc(2.225vmin);
}

.Dashboard-AddEquipmentButton {
    width: 100%;
}

.Dashboard-InUseSection {
    width: 100%;
    height: calc(4 * calc(2.225vmin) + calc(calc(34.4875vmin) + calc(1vmin)));
    margin-bottom: calc(4.171875vmin);
}

.Dashboard-UnderRepairSection,
.Dashboard-ReservationDetailSection {
    width: 100%;
    flex: 1;
    overflow-y: scroll;
}

.Dashboard-ReservationActionContainer {
    margin-top: calc(2.225vmin);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Dashboard-ReservationActionButton {
    width: 100%;
    margin-left: calc(2.225vmin);
}

.Dashboard-ReservationActionButton:first-child {
    margin-left: 0px;
}

@media screen and (min-width: 481px) {
    .Dashboard-LogoContainer {
        display: none;
    }
    .Dashboard-ActionContainer {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .Dashboard-PageHeaderContainer {
        width: 100%;
        height: calc(17.8vmin);
        border-bottom: calc(0.55625vmin) solid var(--Gray1);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        box-sizing: border-box;
        padding: calc(4.45vmin) calc(4.45vmin);
    }

    .Dashboard-PageHeaderContainer p.heading-2 {
        font-size: calc(5.562vmin);
        margin-left: calc(4.45vmin);
    }
    
    .Dashboard-PageHeader {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .Dashboard-LogoContainer {
        width: calc(8.9vmin); 
    }
    
    .Dashboard-LogoContainer img {
        width:100%;
        height:100%;
    }

    .Dashboard-ActionContainer {
        width: calc(24.475vmin);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .Dashboard-ActionButton {
        width: calc(6.675vmin);
    }

    .Dashboard-ContentContainer {
        width: 100%;
        height: 100% - calc(17.8vmin);
        flex: 1;
        display: flex;
        flex-direction: row;
        overflow-y: scroll;
    }
    
    .Dashboard-LeftContentPanel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: calc(100% - calc(4.45vmin));
        box-sizing: border-box;
        margin: calc(4.45vmin) calc(4.45vmin) 0px calc(4.45vmin);
        overflow-y: hidden;
    }    

    .Dashboard-SectionHeader {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: calc(calc(13.35vmin) + calc(2 * calc(0.278125vmin)));
    }

    .Dashboard-InventorySection {
        width: 100%;
        height: calc(67.8625vmin);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-bottom: calc(8.34375vmin);
    }
    
    .Dashboard-SearchBar {
        width: calc(64.525vmin);
    }

    .Dashboard-InventorySummaryList {
        width: 100%;
        height: calc(calc(100%) - calc(13.35vmin));
        margin-top: calc(4.45vmin);
    }

    .Dashboard-RightContentPanel {
        display: none;
    }
}