.Dashboard-PageContentContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.Dashboard-PageHeaderContainer {
    width: 100%;
    height: calc(9.45625vmin);
    border-bottom: calc(0.278125vmin) solid var(--Gray1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: calc(2.225vmin) calc(2.225vmin);
}

.Dashboard-ContentContainer {
    width: 100%;
    height: 100% - calc(9.45625vmin);
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: scroll;
}

.Dashboard-LeftContentPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
    height: calc(100% - calc(4.45vmin));
    box-sizing: border-box;
    margin: calc(2.225vmin) calc(2.225vmin);
    overflow-y: hidden;
}

.Dashboard-SectionHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(6.675vmin);
}

.Dashboard-InventorySection {
    width: 100%;
    height: calc(4 * calc(2.225vmin) + calc(calc(34.4875vmin) + calc(1vmin)));
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: calc(4.171875vmin)
}

.Dashboard-SearchBar {
    width: calc(38.9375vmin);
}

.SearchBar-Container {
    height: calc(6.675vmin);
    box-sizing: border-box;
    padding: calc(1.1125vmin) calc(1.66875vmin);
    background-color: var(--Gray1);
    border-radius: calc(3.4765625vmin);
}

.Dashboard-InventoryList {
    width: 100%;
    height: calc(calc(100%) - calc(6.675vmin));
    margin-top: calc(2.225vmin);
}

.InventoryList-Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: calc(3.02vmin);
}

.EquipmentTypeCard-Container {
    width: calc(37.4078125vmin);
    height: calc(16.13125vmin);
    box-sizing: border-box;
    border: calc(0.278125vmin) solid var(--Gray1);
    border-radius: calc(1.390625vmin);
    padding: calc(1.66875vmin);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.EquipmentTypeCard-Container:hover {
    cursor: pointer;
}

.EquipmentTypeCard-InformationContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EquipmentTypeCard-Icon {
    font-size: calc(8.34375vmin);
}

.EquipmentTypeCard-Information {
    margin-left: calc(2.225vmin);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.EquipmentTypeCard-TypeName {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.Dashboard-LeftContentSeparator {
    margin: calc(4.45vmin) 0px;
    width: 100%;
    border-top: calc(0.278125vmin) solid var(--Gray1);
}

.Dashboard-ReservationSection {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: scroll;
}

.Dashboard-ReservationFilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.FilterButton-Container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(6.675vmin);
    border-radius: calc(3.4765625vmin);
    padding: calc(1.66875vmin);
}

.FilterButton-Container:hover {
    cursor: pointer;
}

.FilterButton-Active {
    background-color: var(--Red1);
    color: var(--White1);
}

.Dashboard-ReservationList {
    width: 100%;
    height: calc(calc(100%) - calc(6.675vmin));
    margin-top: calc(2.225vmin)
}

.ReservationList-Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    gap: calc(3.02vmin);
}

.ReservationCard-Container {
    width: calc(37.4078125vmin);
    height: calc(12.79375vmin);
    box-sizing: border-box;
    border: calc(00.278125vmin) solid var(--Gray1);
    border-radius: calc(1.390625vmin);
    padding: calc(1.66875vmin) calc(1.390625vmin) calc(1.66875vmin) calc(1.66875vmin);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ReservationCard-Container:hover {
    cursor: pointer;
}

.ReservationCard-Icon {
    font-size: calc(4.45vmin);
}

.ReservationCard-InformationContainer {
    margin-left: calc(2vmin);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ReservationCard-Information {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: hidden;
}

.ReservationCard-RenterName {
    max-width: calc(15.9921875vmin);
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    white-space: normal;
    word-wrap: break-word;
}

.ReservationCard-ReserveAmount {
    max-width: calc(8.9vmin);
}

.Dashboard-RightContentPanel {
    width: calc(calc(45.6125vmin));
    height: 100%;
    border-left: calc(0.278125vmin) solid var(--Gray1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    padding: calc(2.225vmin) calc(2.225vmin) 0px calc(2.225vmin);
}

.Dashboard-AddEquipmentButton {
    width: 100%;
}
