@media screen and (min-width: 481px) {
    .GeneralPage-Wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

@media screen and (max-width: 480px) {
    .GeneralPage-Wrapper {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }    
}