/* General Stylings */
.ModelForm-VisualContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.ModelForm-TypeModelPhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  background-color: transparent;
}

.ModelForm-TypeModelPhoto img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.ModelForm-PromptContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Gray3);
  width: 100%;
  background-color: var(--Gray2);
  border: none;
}

.ModelForm-TypeModelPhoto img,
.ModelForm-PromptContainer {
  cursor: pointer;
}

.ModelForm-Prompt {
  text-align: center;
}

.ModelForm-FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.ModelForm-ModelInformationGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.ModelForm-Field {
  width: 100%;
}

.ModelForm-Instructions {
  font-style: italic;
  color: var(--Gray3);
}

.ModelForm-ErrorMessageContainer {
  width: 100%;
  color: var(--Red2);
}

/* For tablets and larger devices */
@media screen and (min-width: 481px) {
  .ModelForm-Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100% - calc(calc(6.675vmin) + calc(2.225vmin)));
    margin-top: calc(2.225vmin);
    gap: calc(2.225vmin);
  }

  .ModelForm-VisualContainer {
    width: calc(35.04375vmin);
    height: 100%;
  }

  .ModelForm-PromptContainer,
  .ModelForm-TypeModelPhoto img {
    height: calc(35.04375vmin);
    border-radius: calc(1.390625vmin);
  }

  .ModelForm-PromptIcon {
    font-size: calc(8.34375vmin);
  }

  .ModelForm-Prompt {
    width: calc(24.475vmin);
  }

  .ModelForm-FormContainer {
    width: calc(100% - calc(35.04375vmin));
    gap: calc(1.66875vmin);
  }

  .ModelForm-ModelInformationGroup {
    gap: calc(2.225vmin);
  }
}

/* For mobile and smaller devices */
@media screen and (max-width: 480px) {
  .ModelForm-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - calc(calc(13.35vmin) + calc(22.25vmin)));
    margin: calc(4.45vmin) 0px;
    gap: calc(4.45vmin);
    overflow-y: auto;
  }

  .ModelForm-VisualContainer {
    height: calc(91.225vmin);
    width: 100%;
  }

  .ModelForm-PromptContainer,
  .ModelForm-TypeModelPhoto img {
    height: calc(91.225vmin);
    border-radius: calc(2.78125vmin);
  }

  .ModelForm-PromptIcon {
    font-size: calc(16.6875vmin);
  }

  .ModelForm-Prompt {
    width: calc(48.95vmin);
  }

  .ModelForm-FormContainer {
    width: 100%;
    gap: calc(3.3375vmin);
  }

  .ModelForm-ModelInformationGroup {
    gap: calc(4.45vmin);
  }

  .ModelForm-MarginField {
    margin-bottom: calc(2.225vmin);
  }

  .ModelForm-Instructions {
    display: none;
  }
}
