/* General Stylings */
.AddToInventoryPage-PageContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.AddToInventoryPage-PageHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.AddToInventoryPage-ContentContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
}

.AddToInventoryPage-ModalIcon {
  color: var(--Red1);
}

.AddToInventoryPage-HeaderContainer::-webkit-scrollbar {
  display: none;
}

/* For tablets and any larger devices */
@media screen and (min-width: 481px) {
  .AddToInventoryPage-PageContentContainer {
    height: 100dvh;
  }

  .AddToInventoryPage-PageHeaderContainer {
    height: calc(9.45625vmin);
    border-bottom: calc(0.278125vmin) solid var(--Gray1);
    padding: calc(2.225vmin);
  }

  .AddToInventoryPage-LogoContainer {
    display: none !important;
  }

  .AddToInventoryPage-ContentContainer {
    height: 100% - calc(9.45625vmin);
    padding: calc(2.225vmin);
  }

  .AddToInventoryPage-ContentHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(calc(6.675vmin));
    width: 100%;
  }

  .AddToInventoryPage-HeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: calc(2.225vmin);
  }

  .AddToInventoryPage-ActionContainer {
    height: calc(6.675vmin);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: calc(2.225vmin);
  }

  .AddToInventoryPage-AddButton {
    width: calc(30vmin);
  }

  .AddToInventoryPage-ImportEquipmentButton {
    width: calc(20.58125vmin);
  }

  .AddToInventoryPage-MobileAddButton {
    display: none !important;
  }

  .AddToInventoryPage-ModalContainer {
    width: calc(69.53125vmin);
    height: calc(41.71875vmin);
  }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
  .AddToInventoryPage-PageContentContainer {
    height: 0px;
  }

  .AddToInventoryPage-PageHeaderContainer {
    height: calc(17.8vmin);
    border-bottom: calc(0.55625vmin) solid var(--Gray1);
    padding: calc(4.45vmin);
  }

  .AddToInventoryPage-PageHeaderContainer p.heading-2 {
    font-size: calc(5.562vmin);
    margin-left: calc(4.45vmin);
  }

  .AddToInventoryPage-LogoContainer {
    width: calc(8.9vmin);
  }

  .AddToInventoryPage-LogoContainer img {
    width: 100%;
    height: 100%;
  }

  .AddToInventoryPage-ContentContainer {
    height: 100% - calc(17.8vmin);
    padding: calc(4.45vmin);
  }

  .AddToInventoryPage-ContentHeaderContainer {
    height: calc(13.35vmin);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .AddToInventoryPage-HeaderContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: calc(4.45vmin);
    overflow-x: auto;
    overflow-y: hidden;
  }

  .AddToInventoryPage-ActionContainer {
    display: none !important;
  }

  .AddToInventoryPage-MobileAddButton {
    width: 100%;
  }

  .AddToInventoryPage-ModalContainer {
    width: calc(91.225vmin);
    height: calc(61.1875vmin);
  }
}

@media screen and (min-width: 801px) {
  .AddToInventoryPage-MobileMiscHeaderButton {
    display: none !important;
  }
}

@media screen and (max-width: 800px) {
  .AddToInventoryPage-MiscHeaderButton {
    display: none !important;
  }
}
