/* General Stylings */
.UpdateLocationPage-ContentContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
}

.UpdateLocationPage-ContentHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.UpdateLocationPage-HeaderContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.UpdateLocationPage-ActionContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.UpdateLocationPage-ResponseModalIcon {
  color: var(--Red1);
}

/* For tablets and bigger devices */
@media screen and (min-width: 481px) {
  .UpdateLocationPage-ContentContainer {
    height: 100% - calc(9.45625vmin);
    padding: calc(2.225vmin);
  }

  .UpdateLocationPage-ContentHeaderContainer {
    height: calc(6.675vmin);
  }

  .UpdateLocationPage-HeaderContainer {
    gap: calc(2.225vmin);
  }

  .UpdateLocationPage-ActionContainer {
    height: calc(6.675vmin);
    gap: calc(2.225vmin);
  }

  .UpdateLocationPage-SaveButton {
    width: calc(22.25vmin);
  }

  .UpdateLocationPage-DeleteButton {
    width: calc(6.675vmin);
  }

  .UpdateLocationPage-MobileSaveButton {
    display: none !important;
  }

  .UpdateLocationPage-MobileBottomActionContainer {
    display: none !important;
  }

  .UpdateLocationPage-ConfirmationModalContainer {
    width: calc(69.53125vmin);
    height: calc(41.71875vmin);
  }

  .UpdateLocationPage-ResponseModalContainer {
    width: calc(69.53125vmin);
    height: calc(41.71875vmin);
  }

  .UpdateLocationPage-BackButton {
    width: calc(1.66875vmin);
    padding: 0px;
  }
}

/* For mobiles and smaller devices */
@media screen and (max-width: 480px) {
  .UpdateLocationPage-ContentContainer {
    height: 100% - calc(17.8vmin);
    padding: calc(4.45vmin);
  }

  .UpdateLocationPage-ContentHeaderContainer {
    height: calc(13.35vmin);
  }

  .UpdateLocationPage-HeaderContainer {
    gap: calc(4.45vmin);
  }

  .UpdateLocationPage-ActionContainer {
    width: calc(13.35vmin);
    height: calc(13.35vmin);
  }

  .UpdateLocationPage-SaveButton {
    display: none !important;
  }

  .UpdateLocationPage-DeleteButton {
    width: calc(13.35vmin);
  }

  .UpdateLocationPage-MobileBottomActionContainer,
  .UpdateLocationPage-MobileSaveButton {
    width: 100%;
  }

  .UpdateLocationPage-ConfirmationModalContainer {
    width: calc(91.225vmin);
    height: calc(103.4625vmin);
  }

  .UpdateLocationPage-ResponseModalContainer {
    width: calc(91.225vmin);
    height: calc(61.1875vmin);
  }

  .UpdateLocationPage-BackButton {
    width: calc(0.834375vmin);
    padding: 0;
  }
}
