/* General Stylings */
.EquipmentTypeSummaryCard-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--Black1);
}

.EquipmentTypeSummaryCard-InformationContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.EquipmentTypeSummaryCard-Information {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    overflow: hidden;
}

.EquipmentTypeSummaryCard-Active {
    background-color: var(--Red1);
    color: var(--White1);
}

.EquipmentTypeSummaryCard-Container:hover {
    cursor: pointer;
}

/* For any devices larger than 1280px */
@media screen and (min-width: 1280px) {
    .EquipmentTypeSummaryCard-Container {
        min-width: calc((100% - 2 * calc(3.02vmin) - 2 * 0.83vmin) / 3);
    }
}

/* For any larger devices between 901px and 1279px */
@media screen and (min-width: 901px) and (max-width: 1279px) {
    .EquipmentTypeSummaryCard-Container {
        min-width: calc((100% - 2 * calc(3.02vmin) - 2 * 0.83vmin) / 2);
    }
}

/* For any larger devices between 481px and 900px */
@media screen and (min-width: 481px) and (max-width: 900px) {
    .EquipmentTypeSummaryCard-Container {
        width: 100%;
    }
}

/* For tablets and any larger devices */
@media screen and (min-width: 481px) {
    .EquipmentTypeSummaryCard-Container {
        height: calc(16.13125vmin);
        border: calc(0.278125vmin) solid var(--Gray1);
        border-radius: calc(1.390625vmin);
        padding: calc(1.66875vmin);
    }

    .EquipmentTypeSummaryCard-Icon {
        font-size: calc(8.34375vmin);
    }

    .EquipmentTypeSummaryCard-Information {
        margin-left: calc(2.225vmin);
    }

    .EquipmentTypeSummaryCard-TypeName {
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        white-space: normal;
        word-wrap: break-word;
        text-align: left;
    }

    .EquipmentTypeSummaryCard-Active {
        border: calc(0.278125vmin) solid var(--Red1);
    }
}



/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
    .EquipmentTypeSummaryCard-Container {
        width: 100%;
        height: auto;
        min-height: calc(32.2625vmin);
        border: calc(0.55625vmin) solid var(--Gray1);
        border-radius: calc(2.78125vmin);
        padding: calc(3.3375vmin);
    }

    .EquipmentTypeSummaryCard-Icon {
        font-size: calc(16.6875vmin);
    }

    .EquipmentTypeSummaryCard-Information {
        margin-left: calc(4.45vmin);
    }

    .EquipmentTypeSummaryCard-TypeName {
        display: block;
        overflow: visible;
        white-space: normal;
        word-wrap: break-word;
        text-align: left;
    }

    .EquipmentTypeSummaryCard-Active {
        border: calc(0.55625vmin) solid var(--Red1);
    }
}