/* General Stylings */
.SpecifyModelQuantityCard-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--Black1);
}

.SpecifyModelQuantityCard-ModelPhoto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Black1);
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 0;
}

.SpecifyModelQuantityCard-ModelPhoto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.SpecifyModelQuantityCard-InformationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    overflow: hidden;
    border: none;
    background-color: transparent;
    text-align: left;
    padding: 0;
    color: var(--Black1);
}

.SpecifyModelQuantityCard-Information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 0px;
}

.SpecifyModelQuantityCard-SelectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.SpecifyModelQuantityCard-SelectButtonActive,
.SpecifyModelQuantityCard-SelectButton {
    width: 100%;
}

.SpecifyModelQuantityCard-SelectButtonActive {
    color: var(--Red1);
}

.SpecifyModelQuanityCard-GeneralContainer {
    display: flex;
    flex-direction: column;
}

.SpecifyModelQuantityCard-QuantityContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.SpecifyModelQuantityCard-ActionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.SpecifyModelQuantityCard-QuantityUpdateButton {
    color: white;
}

.SpecifyModelQuantityCard-SelectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* For tablets and larger screens */
@media screen and (min-width: 481px) {
    .SpecifyModelQuanityCard-GeneralContainer{
        height: calc(20.58125vmin);
    }

    .SpecifyModelQuantityCard-Container {
        height: calc(13.90625vmin);
        border-top-left-radius: calc(1.390625vmin);
        border-top-right-radius: calc(1.390625vmin);
        border: calc(0.278125vmin) solid var(--Black1);
        padding: calc(1.66875vmin);
        gap: calc(2.225vmin);
    }

    .SpecifyModelQuantityCard-ModelPhoto {
        height: calc(8.9vmin);
        width: calc(8.9vmin);
        border-radius: calc(1.390625vmin);
    }

    .SpecifyModelQuantityCard-DefaultModelIcon {
        font-size: calc(4.45vmin);
    }

    .SpecifyModelQuantityCard-InformationContainer {
        height: calc(8.9vmin);
        gap: calc(0.55625vmin);
    }

    .SpecifyModelQuantityCard-Information {
        height: calc(5.00625vmin);
    }

    .SpecifyModelQuantityCard-SelectionContainer {
        height: calc(8.9vmin);
        width: calc(3.3375vmin);
    }

    .SpecifyModelQuantityCard-InformationContainer p.heading-5 {
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .SpecifyModelQuantityCard-QuantityContainer {
        padding: calc(1.66875vmin);
        height: calc(6.675vmin);
        border-bottom-left-radius: calc(1.390625vmin);
        border-bottom-right-radius: calc(1.390625vmin);
        background-color: var(--Red1);
        color: var(--White1);
    }

    .SpecifyModelQuantityCard-ActionContainer {
        padding: 0px;
        gap: calc(1.1125vmin);
    }

    .SpecifyModelQuantityCard-SelectionContainer {
        height: calc(8.9vmin);
        width: calc(3.3375vmin);
    }
}

/* For mobiles and smaller screens */
@media screen and (max-width: 480px) {
    .SpecifyModelQuanityCard-GeneralContainer {
        height: auto;
    }

    .SpecifyModelQuantityCard-Container {
        height: auto;
        min-height: calc(27.8125vmin);
        border-top-left-radius: calc(2.78125vmin);
        border-top-right-radius: calc(2.78125vmin);
        border: calc(0.55625vmin) solid var(--Black1);
        padding: calc(3.3375vmin);
        gap: calc(4.45vmin);
    }

    .SpecifyModelQuantityCard-ModelPhoto {
        width: calc(17.8vmin);
        height: calc(17.8vmin);
        border-radius: calc(2.78125vmin);
    }

    .SpecifyModelQuantityCard-DefaultModelIcon {
        font-size: calc(8.9vmin);
    }

    .SpecifyModelQuantityCard-InformationContainer {
        gap: calc(0.55625vmin);
        flex: 1;
    }

    .SpecifyModelQuantityCard-Information {
        height: calc(10.0125vmin);
    }

    .SpecifyModelQuantityCard-SelectionContainer {
        height: 100%;
        width: calc(6.675vmin);
    }

    .SpecifyModelQuantityCard-InformationContainer p.heading-5 {
        white-space: normal;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -moz-box-lines: 2;
        overflow: hidden;
    }

    .SpecifyModelQuantityCard-QuantityContainer {
        padding: calc(3.3375vmin);
        height: calc(13.35vmin);
        border-bottom-left-radius: calc(2.78125vmin);
        border-bottom-right-radius: calc(2.78125vmin);
        background-color: var(--Red1);
        color: var(--White1);
    }

    .SpecifyModelQuantityCard-ActionContainer {
        padding: 0px;
        gap: calc(4.45vmin);
    }

    .SpecifyModelQuantityCard-SelectionContainer {
        height: calc(17.8vmin);
        width: calc(6.675vmin);
    }

    .SpecifyModelQuantityCard-QuantityUpdateButton {
        width: calc(6.675vmin) !important;
        padding: 0px;
    }
}
