.VerificationPage-Wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.VerificationPage-FormContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VerificationPage-FormHeaderContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.VerificationPage-LogoContainer {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.VerificationPage-LogoContainer img {
    width:100%;
    height:100%;
}

.VerificationPage-InstructionMessage {
    color: var(--Gray3);
}

.VerificationPage-EmailMessage {
    width: 100%;
}

.VerificationPage-Form{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.VerificationPage-StandardTextInputField {
    /* General Stylings*/
}

.Verification-ErrorMessage {
    width: 100%;
    color: var(--Red2);
}

.VerificationPage-FormFooterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.VerificationPage-VerifyButton {
    width:100%;
}

.VerificationPage-FooterButtonsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* For tablet and bigger devices */
@media screen and (min-width: 600px) {
    .VerificationPage-FormContainer {
        width: calc(39.8vmin);
    }

    .VerificationPage-LogoContainer {
        width: calc(8.9vmin);
    }

    .VerificationPage-Form{
        margin: calc(2.225vmin) 0px;
    }

    .VerificationPage-StandardTextInputField {
        height: calc(6.675vmin - calc(2 * 1.66875vmin)); /* Always minus for the padding */
        width: calc(39.215625vmin - calc(2 * 1.66875vmin)); /* Always minus for the padding */
    }

    .Verification-ErrorMessage {
        margin: calc(1.66875vmin) 0px 0px 0px;
    }

    .VerificationPage-FooterButtonsContainer {
        margin: calc(2.225vmin) 0px;
    }
}

/* For tablet and bigger devices */
@media screen and (max-width: 599px) {
    .VerificationPage-FormContainer {
        width: calc(79.6vmin);
    }

    .VerificationPage-LogoContainer {
        width: calc(17.8vmin); 
    }

    .VerificationPage-Form{
        margin: calc(4.45vmin) 0px;
    }

    .VerificationPage-StandardTextInputField {
        height: calc(13.35vmin - calc(2 * 3.3375vmin)); /* Always minus for the padding */
        width: calc(78.43125vmin - calc(2 * 3.3375vmin)); /* Always minus for the padding */
    }

    .Verification-ErrorMessage {
        margin: calc(3.3375vmin) 0px 0px 0px;
    }

    .VerificationPage-FooterButtonsContainer {
        margin: calc(4.45vmin) 0px;
    }
}