/* General Stylings */
.ModelInventoryCard-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: transparent;
    color: var(--Black1);
}

.ModelInventoryCard-ModelPhoto {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--Black1);
}

.ModelInventoryCard-ModelPhoto img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.ModelInventoryCard-InformationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    overflow: hidden;
}

.ModelInventoryCard-Information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    gap: 0px;
}

.ModelInventoryCard-SelectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.ModelInventoryCard-SelectButtonActive,
.ModelInventoryCard-SelectButton {
    width: 100%;
}

.ModelInventoryCard-SelectButtonActive {
    color: var(--Red1);
}

/* For tablets and larger screens */
@media screen and (min-width: 481px) {
    .ModelInventoryCard-Container {
        height: calc(13.90625vmin);
        border: calc(0.278125vmin) solid var(--Gray1);
        border-radius: calc(1.390625vmin);
        padding: calc(1.66875vmin);
        gap: calc(2.225vmin);
    }

    .ModelInventoryCard-Active {
        border: calc(0.278125vmin) solid var(--Black1);
    }

    .ModelInventoryCard-ModelPhoto {
        height: calc(8.9vmin);
        width: calc(8.9vmin);
        border-radius: calc(1.390625vmin);
    }

    .ModelInventoryCard-DefaultModelIcon {
        font-size: calc(4.45vmin);
    }

    .ModelInventoryCard-InformationContainer {
        height: calc(8.9vmin);
        gap: calc(0.55625vmin);
    }

    .ModelInventoryCard-Information {
        height: calc(5.00625vmin);
    }

    .ModelInventoryCard-SelectionContainer {
        height: calc(8.9vmin);
        width: calc(3.3375vmin);
    }

    .ModelInventoryCard-InformationContainer p.heading-5 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

/* For mobiles and smaller screens */
@media screen and (max-width: 480px) {
    .ModelInventoryCard-Container {
        height: auto;
        border: calc(0.55625vmin) solid var(--Gray1);
        border-radius: calc(2.78125vmin);
        padding: calc(3.3375vmin);
        gap: calc(4.45vmin);
    }

    .ModelInventoryCard-Active {
        border: calc(0.55625vmin) solid var(--Black1);
    }

    .ModelInventoryCard-ModelPhoto {
        width: calc(17.8vmin);
        height: calc(17.8vmin);
        border-radius: calc(2.78125vmin);
    }

    .ModelInventoryCard-DefaultModelIcon {
        font-size: calc(8.9vmin);
    }

    .ModelInventoryCard-InformationContainer {
        gap: calc(0.55625vmin);
        flex: 1;
    }

    .ModelInventoryCard-Information {
        height: calc(10.0125vmin);
    }

    .ModelInventoryCard-SelectionContainer {
        height: 100%;
        width: calc(6.675vmin);
    }

    .ModelInventoryCard-InformationContainer p.heading-5 {
        white-space: normal;
        word-wrap: break-word;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -moz-box-lines: 2;
        overflow: hidden;
    }
}