/* General Stylings */
.TypeAdditionForm-FormContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.TypeAdditionForm-TypeInformationGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.TypeAdditionForm-Field {
    width: 100%;
}

.TypeAdditionForm-Instructions {
    font-style: italic;
    color: var(--Gray3);
}

.TypeAdditionForm-ErrorMessageContainer {
    width: 100%;
    color: var(--Red2);
}

/* For tablets and larger screen */
@media screen and (min-width: 481px) {
    .TypeAdditionForm-Container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        height: calc(100% - calc(calc(6.675vmin) + calc(2.225vmin)));
        margin-top: calc(2.225vmin);
        gap: calc(2.225vmin);
    }

    .TypeAdditionForm-FormContainer {
        width: 100%;
        gap: calc(1.66875vmin);
    }

    .TypeAdditionForm-TypeInformationGroup {
        gap: calc(2.225vmin);
    }
}

/* For mobile and smaller screen */
@media screen and (max-width: 480px) {
    .TypeAdditionForm-Container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
        height: calc(100% - calc(calc(13.35vmin) + calc(22.25vmin)));
        margin: calc(4.45vmin) 0px;
        gap: calc(4.45vmin);
        overflow-y: auto;
    }

    .TypeAdditionForm-FormContainer {
        width: 100%;
        gap: calc(3.3375vmin);
    }

    .TypeAdditionForm-TypeInformationGroup {
        gap: calc(4.45vmin);
    }

    .TypeAdditionForm-Instructions {
        display: none;
    }
}
