.EquipmentDetailList-Container {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.EquipmentDetailList-EquipmentDetailCard {
    width: 100%;
}

.EquipmentDetailList-EquipmentDetailCard:first-child {
    margin-top: 0px;
}

.EquipmentDetailList-Container::-webkit-scrollbar {

}

/* For tablets and any larger devices */
@media screen and (min-width: 481px) {
    .EquipmentDetailList-EquipmentDetailCard {
        margin-top: calc(2.225vmin);
    }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
    .EquipmentDetailList-EquipmentDetailCard {
        margin-top: calc(4.45vmin);
    }
}
