.FilterButton-Container {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(6.675vmin);
    border-radius: calc(3.4765625vmin);
    padding: calc(1.66875vmin);
    border: none;
    background-color: transparent;
}

.FilterButton-Active {
    background-color: var(--Red1);
    color: var(--White1);
}

.FilterButton-Container:hover {
    cursor: pointer;
}
