/* General Stylings */
.AvailableModelList-Container {
    display: grid;
    overflow-y: auto;
    height: 100%;
}

.AvailableModelList-Message {
    color: var(--Gray3);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.AvailableModelList-Container::-webkit-scrollbar {
    display: none;
}

/* For tablets and larger screen */
@media screen and (min-width: 481px) {
    .AvailableModelList-Container {
        height: calc(100% - calc(calc(6.675vmin) + calc(2.225vmin)));
        margin-top: calc(2.225vmin);
        grid-template-columns: repeat(auto-fill, minmax(calc(36.8vmin), 1fr));
        gap: calc(3.02vmin);
        grid-template-rows: repeat(auto-fill, minmax(calc(13.90625vmin), calc(13.90625vmin)));
        padding-bottom: calc(0.278125vmin);
    }
}

/* For mobiles and smaller screen */
@media screen and (max-width: 480px) {
    .AvailableModelList-Container {
        height: calc(100% - calc(53.4vmin));
        margin: calc(4.45vmin) 0px;
        grid-template-columns: repeat(auto-fill, minmax(44vmin, 1fr));
        gap: calc(4.45vmin);
        grid-template-rows: repeat(auto-fill, minmax(calc(32.25vmin), calc(32.25vmin)));
        padding-bottom: calc(0.55625vmin);
    }
}
