.ReservationList-Container {
    display: grid;
    overflow-y: auto;
}

.ReservationList-Message {
    color: var(--Gray3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 481px) {
    .ReservationList-Container {
        grid-template-columns: repeat(auto-fill, minmax(calc(36.8vmin), 1fr));
        gap: calc(3.02vmin);
    }

    .ReservationList-Container::-webkit-scrollbar {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    .ReservationList-Container {
        grid-template-columns: 1fr;
        gap: calc(4.45vmin);
    }
}