/* General Stylings */
.SearchBarInputField-Container {
    box-sizing: border-box;
    background-color: var(--Gray2);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.SearchBarInputField-Icon {
    color: var(--Gray3);
    height: 100%;
}

.SearchBarInputField-Input {
    border: none;
    outline: none;
    font-family: 'Poppins Regular', sans-serif;
    background-color: transparent;
}

.SearchBarInputField-Focused {
    background-color: var(--White1);
}

.SearchBarInputField-Focused .SearchBarInputField-Icon {
    color: var(--Black1);
}

/* For tablets and any larger devices */
@media screen and (min-width: 481px) {
    .SearchBarInputField-Container {
        height: calc(6.675vmin);
        padding: calc(1.1125vmin) calc(1.66875vmin);
        border: calc(0.278125vmin) solid var(--Gray2);
        border-radius: calc(3.4765625vmin);
    }
    
    .SearchBarInputField-Icon {
        font-size: calc(3.3375vmin);
        width: calc(3.3375vmin);
    }
    
    .SearchBarInputField-Input {
        margin-left: calc(1.66875vmin);
        font-size: calc(2.225vmin);
        width: calc(100% - 3.3375vmin - calc(2 * calc(1.66875vmin)));
    }
    
    .SearchBarInputField-Focused {
        border: calc(0.278125vmin) solid var(--Black1);
    }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
    .SearchBarInputField-Container {
        height: calc(13.35vmin);
        padding: calc(2.225vmin) calc(3.3375vmin);
        border: calc(0.55625vmin) solid var(--Gray2);
        border-radius: calc(6.953125vmin);
    }

    .SearchBarInputField-Icon {
        font-size: calc(6.675vmin);
        width: calc(6.675vmin);
    }
    
    .SearchBarInputField-Input {
        margin-left: calc(0vmin);
        font-size: calc(4.45vmin);
        width: calc(100% - 6.675vmin - calc(2 * calc(3.3375vmin)));
    }
    
    .SearchBarInputField-Focused {
        border: calc(0.55625vmin) solid var(--Black1);
    }
}