/* General Stylings */
.DetailSection-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.DetailSection-SectionHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.DetailSection-Title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.DetailSection-EquipmentDetailList {
    width: 100%;
}

.DetailSection-ActionContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* For tablets and any larger devices */
@media screen and (min-width: 481px) {
    .DetailSection-SectionHeader {
        min-height: calc(calc(6.675vmin) + calc(2 * calc(0.278125vmin)));
    }

    .DetailSection-EquipmentDetailList {
        height: calc(calc(100%) - calc(6.675vmin));
        margin-top: calc(2.25vmin);
    }

    .DetailSection-ActionIcon {
        font-size: calc(3.3375vmin);
    }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
    .DetailSection-SectionHeader {
        min-height: calc(6.675vmin);
    }

    .DetailSection-EquipmentDetailList {
        height: calc(calc(100%) - calc(6.675vmin));
        margin-top: calc(4.45vmin);
    }

    .DetailSection-ActionIcon {
        font-size: calc(6.675vmin);
        box-sizing: border-box;
        padding: 0;
    }
}
