/* General Stylings */
.UsersPage-PageContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.UsersPage-PageHeaderContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  box-sizing: border-box;
}

.UsersPage-ContentContainer {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  box-sizing: border-box;
}

.UsersPage-ModalIcon {
  color: var(--Red1);
}

.UsersPage-HeaderContainer::-webkit-scrollbar {
  display: none;
}

.UsersPage-UserSelectionContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.UsersPage-FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}

.UsersPage-Instructions {
  color: var(--Gray3);
  font-style: italic;
}

/* For tablets and bigger devices */
@media screen and (min-width: 481px) {
  .UsersPage-PageContentContainer {
    height: 100dvh;
  }

  .UsersPage-PageHeaderContainer {
    height: calc(9.45625vmin);
    border-bottom: calc(0.278125vmin) solid var(--Gray1);
    padding: calc(2.225vmin);
  }

  .UsersPage-LogoContainer {
    display: none !important;
  }

  .UsersPage-ContentContainer {
    height: 100% - calc(9.45625vmin);
    padding: calc(2.225vmin);
    gap: calc(2.225vmin);
  }

  .UsersPage-ContentHeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: calc(6.675vmin);
    width: 100%;
  }

  .UsersPage-HeaderContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: calc(2.225vmin);
  }

  .UsersPage-ActionContainer {
    height: calc(6.675vmin);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: calc(2.225vmin);
  }

  .UsersPage-SaveButton {
    width: calc(27.8125vmin);
  }

  .UsersPage-MobileSaveButton {
    display: none !important;
  }

  .UsersPage-ModalContainer {
    width: calc(69.53125vmin);
    height: calc(41.71875vmin);
  }

  .UsersPage-FormContainer {
    gap: calc(1.66875vmin);
    width: 100%;
  }

  .UsersPage-UserSelectionContainer {
    gap: calc(2.225vmin);
  }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
  .UsersPage-PageContentContainer {
    height: 0px;
  }

  .UsersPage-PageHeaderContainer {
    height: calc(17.8vmin);
    border-bottom: calc(0.55625vmin) solid var(--Gray1);
    padding: calc(4.45vmin);
  }

  .UsersPage-PageHeaderContainer p.heading-2 {
    font-size: calc(5.562vmin);
    margin-left: calc(4.45vmin);
  }

  .UsersPage-LogoContainer {
    width: calc(8.9vmin);
  }

  .UsersPage-LogoContainer img {
    width: 100%;
    height: 100%;
  }

  .UsersPage-ContentContainer {
    height: 100% - calc(17.8vmin);
    padding: calc(4.45vmin);
    gap: calc(4.45vmin);
  }

  .UsersPage-ContentHeaderContainer {
    height: calc(13.35vmin);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .UsersPage-HeaderContainer {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: calc(4.45vmin);
    overflow-x: auto;
    overflow-y: hidden;
  }

  .UsersPage-ActionContainer {
    display: none !important;
  }

  .UsersPage-MobileAddButton {
    width: 100%;
  }

  .UsersPage-ModalContainer {
    width: calc(91.225vmin);
    height: calc(61.1875vmin);
  }

  .UsersPage-FormContainer {
    width: 100%;
    gap: calc(3.3375vmin);
  }

  .UsersPage-UserSelectionContainer {
    gap: calc(4.45vmin);
  }
}
