/* General Stylings */
.EquipmentForm-VisualContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.EquipmentForm-TypeModelPhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.EquipmentForm-TypeModelPhoto img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.EquipmentForm-DefaultModelPhotoContainer,
.EquipmentForm-PromptContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--Gray3);
  background-color: var(--Gray2);
  width: 100%;
}

.EquipmentForm-Prompt {
  text-align: center;
}

.EquipmentForm-FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
}

.EquipmentForm-EquipmentInformationGroup,
.EquipmentForm-EquipmentStatusGroup,
.EquipmentForm-EquipmentLocationGroup,
.EquipmentForm-EquipmentAcquisitionInformationGroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.EquipmentForm-BinaryFieldGroup {
  width: 100%;
}

.EquipmentForm-PurchaseGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.EquipmentForm-PurchaseCostField,
.EquipmentForm-Field {
  width: 100%;
}

.EquipmentForm-Instructions {
  font-style: italic;
  color: var(--Gray3);
}

.EquipmentForm-ErrorMessageContainer {
  width: 100%;
  color: var(--Red2);
}

/* For tablets and any larger devices */
@media screen and (min-width: 481px) {
  .EquipmentForm-Container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: calc(100% - calc(calc(6.675vmin) + calc(2.225vmin)));
    margin-top: calc(2.225vmin);
    gap: calc(2.225vmin);
  }

  .EquipmentForm-VisualContainer {
    width: calc(35.04375vmin);
    height: 100%;
  }

  .EquipmentForm-PromptContainer,
  .EquipmentForm-DefaultModelPhotoContainer,
  .EquipmentForm-TypeModelPhoto img {
    height: calc(35.04375vmin);
    border-radius: calc(1.390625vmin);
  }

  .EquipmentForm-DefaultModelIcon,
  .EquipmentForm-PromptIcon {
    font-size: calc(8.34375vmin);
  }

  .EquipmentForm-Prompt {
    width: calc(24.475vmin);
  }

  .EquipmentForm-FormContainer {
    width: calc(100% - calc(35.04375vmin));
    gap: calc(1.66875vmin);
  }

  .EquipmentForm-EquipmentInformationGroup,
  .EquipmentForm-EquipmentStatusGroup,
  .EquipmentForm-EquipmentLocationGroup,
  .EquipmentForm-EquipmentAcquisitionInformationGroup {
    gap: calc(2.225vmin);
  }

  .EquipmentForm-BinaryFieldGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: calc(2.225vmin);
  }

  .EquipmentForm-PurchaseCostField {
    margin-right: calc(2.225vmin);
  }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
  .EquipmentForm-Container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: calc(100% - calc(calc(13.35vmin) + calc(22.25vmin)));
    margin: calc(4.45vmin) 0px;
    gap: calc(4.45vmin);
    overflow-y: auto;
  }

  .EquipmentForm-VisualContainer {
    height: calc(91.225vmin);
    width: 100%;
  }

  .EquipmentForm-PromptContainer,
  .EquipmentForm-DefaultModelPhotoContainer,
  .EquipmentForm-TypeModelPhoto img {
    height: calc(91.225vmin);
    border-radius: calc(2.78125vmin);
  }

  .EquipmentForm-DefaultModelIcon,
  .EquipmentForm-PromptIcon {
    font-size: calc(16.6875vmin);
  }

  .EquipmentForm-Prompt {
    width: calc(48.95vmin);
  }

  .EquipmentForm-FormContainer {
    width: 100%;
    gap: calc(3.3375vmin);
  }

  .EquipmentForm-EquipmentInformationGroup,
  .EquipmentForm-EquipmentStatusGroup,
  .EquipmentForm-EquipmentLocationGroup,
  .EquipmentForm-EquipmentAcquisitionInformationGroup {
    gap: calc(4.45vmin);
  }

  .EquipmentForm-PurchaseGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .EquipmentForm-BinaryFieldGroup {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: calc(4.45vmin);
  }

  .EquipmentForm-PurchaseCostField {
    margin-bottom: calc(4.45vmin);
  }

  .EquipmentForm-MarginField {
    margin-bottom: calc(2.225vmin);
  }

  .EquipmentForm-Instructions {
    display: none;
  }
}
