/* General Stylings */
.FacultyDashboard-PageContentContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.FacultyDashboard-PageHeaderContainer {
    width: 100%;
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.FacultyDashboard-ContentContainer {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: row;
    overflow-y: auto;
}

.FacultyDashboard-LeftContentPanel {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
    overflow-y: hidden;
}

.FacultyDashboard-SectionHeader {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.FacultyDashboard-EquipmentFilterSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.FacultyDashboard-EquipmentFilterCardList {
    width: 100%;
}

.FacultyDashboard-ReservationSection {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
}

.FacultyDashboard-ReservationFilterContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.FacultyDashboard-ReservationList {
    width: 100%;
}

.FacultyDashboard-RightContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    box-sizing: border-box;
}

.FacultyDashboard-CurrentlyUsingSection,
.FacultyDashboard-RecentlyUsedSection,
.FacultyDashboard-ReservationDetailSection {
    width: 100%;
    overflow-y: auto;
    flex: 1;
}

.FacultyDashboard-ReservationActionContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.FacultyDashboard-ReservationActionButton {
    width: 100%;
}

.FacultyDashboard-ReservationActionButton:first-child {
    margin-left: 0px;
}

.FacultyDashboard-Hide {
    display: none !important;
}

.FacultyDashboard-IconModalIcon {
    color: var(--Red1);
}

/* For tablets and any larger devices */
@media screen and (min-width: 481px) {
    .FacultyDashboard-PageContentContainer {
        height: 100%;
    }

    .FacultyDashboard-PageHeaderContainer {
        height: calc(9.45625vmin);
        border-bottom: calc(0.278125vmin) solid var(--Gray1);
        padding: calc(2.225vmin);
    }

    .FacultyDashboard-LogoContainer {
        display: none !important;
    }

    .FacultyDashboard-ActionContainer {
        display: none !important;
    }

    .FacultyDashboard-ContentContainer {
        height: 100% - calc(9.45625vmin);
    }

    .FacultyDashboard-LeftContentPanel {
        flex: 1;
        height: calc(100% - calc(4.45vmin));
        margin: calc(2.225vmin);
    }

    .FacultyDashboard-SectionHeader {
        height: calc(calc(6.675vmin) + calc(2 * calc(0.278125vmin)));
    }

    .FacultyDashboard-EquipmentFilterSection {
        height: calc(4 * calc(2.225vmin) + calc(calc(13.90625vmin)));
        margin-bottom: calc(4.171875vmin);
    }

    .FacultyDashboard-EquipmentFilterCardList {
        height: calc(13.90625vmin);
        margin-top: calc(2.225vmin);
    }

    .FacultyDashboard-EquipmentFilterCardList::-webkit-scrollbar,
    .FacultyDashboard-MobileMakeReservationButton {
        display: none !important;
    }

    .FacultyDashboard-ReservationList {
        height: calc(calc(100%) - calc(6.675vmin));
        margin-top: calc(2.225vmin);
    }

    .FacultyDashboard-RightContentPanel {
        width: calc(calc(45.6125vmin));
        height: 100%;
        border-left: calc(0.27812vmin) solid var(--Gray1);
    }

    .FacultyDashboard-RightContent {
        height: calc(100% - calc(2.225vmin));
        padding: calc(2.225vmin) calc(2.225vmin) 0px calc(2.225vmin);
    }

    .FacultyDashboard-MakeReservationButton {
        width: 100%;
    }

    .FacultyDashboard-ReservationActionContainer {
        margin-top: calc(2.225vmin);
    }

    .FacultyDashboard-ReservationActionButton {
        margin-left: calc(2.225vmin);
    }

    .FacultyDashboard-IconModalContainer {
        width: calc(69.53125vmin);
        height: calc(41.71875vmin);
    }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
    .FacultyDashboard-PageContentContainer {
        height: 0px;
    }

    .FacultyDashboard-PageHeaderContainer {
        height: calc(17.8vmin);
        border-bottom: calc(0.55625vmin) solid var(--Gray1);
        padding: calc(4.45vmin);
    }

    .FacultyDashboard-PageHeaderContainer p.heading-2 {
        font-size: calc(5.562vmin);
        margin-left: calc(4.45vmin);
    }

    .FacultyDashboard-PageHeader {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .FacultyDashboard-LogoContainer {
        width: calc(8.9vmin);
    }

    .FacultyDashboard-LogoContainer img {
        width: 100%;
        height: 100%;
    }

    .FacultyDashboard-ActionContainer {
        width: calc(calc(6.675vmin) + calc(2.78125vmin));
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .FacultyDashboard-ActionButton {
        width: calc(6.675vmin);
    }

    .FacultyDashboard-ContentContainer {
        height: 100% - calc(17.8vmin);
    }

    .FacultyDashboard-LeftContentPanel {
        width: 100%;
        height: calc(100% - calc(4.45vmin));
        margin: calc(4.45vmin) calc(4.45vmin) 0px calc(4.45vmin);
    }

    .FacultyDashboard-SectionHeader {
        height: calc(calc(13.35vmin) + calc(2 * calc(0.55625vmin)));
    }

    .FacultyDashboard-EquipmentFilterSection {
        height: calc(45.6125vmin);
        margin-bottom: calc(8.34375vmin);
    }

    .FacultyDashboard-MobileMakeReservationButton {
        width: calc(56.625vmin);
    }

    .FacultyDashboard-EquipmentFilterCardList {
        height: calc(30.8125vmin);
        margin-top: calc(4.45vmin);
    }

    .FacultyDashboard-ReservationList {
        height: calc(calc(100%) - calc(13.35vmin));
        margin-top: calc(4.45vmin);
    }

    .FacultyDashboard-RightContentPanel {
        display: none !important;
    }

    .FacultyDashboard-RightContentPanelActive {
        width: 100%;
        height: 100%;
    }

    .FacultyDashboard-RightContent {
        height: 100%;
        padding: calc(4.45vmin) calc(4.45vmin) 0px calc(4.45vmin);
    }

    .FacultyDashboard-ReservationActionContainer {
        margin-bottom: calc(4.45vmin);
    }

    .FacultyDashboard-ReservationActionButton {
        margin-left: calc(4.45vmin);
    }

    .FacultyDashboard-IconModalContainer {
        width: calc(91.225vmin);
        height: calc(61.1875vmin);
    }
}
