@import url("./Fonts.css");

/* Global Styling Variables */
:root {
  --Black1: #000;
  --White1: #fff;
}

/* Global Stylings */
body {

}

.heading-1 {

}

.heading-2 {

}

.heading-3 {

}

.heading-4 {

}

.heading-5 {

}

.heading-6 {

}

.paragraph-1 {

}

.paragraph-2 {

}

.wrapper {
  width: 100%;
  height: 100vh;
  margin: 0px;
}
