/* General Stylings */
.InventorySummaryList-Container {
  display: grid;
  overflow-y: auto;
}

.InventorySummaryList-Message {
  color: var(--Gray3);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* For tablets and any larger devices */
@media screen and (min-width: 481px) {
  .InventorySummaryList-Container {
    grid-template-columns: repeat(auto-fill, minmax(calc(36.8vmin), 1fr));
    gap: calc(3.02vmin);
    grid-template-rows: repeat(
      auto-fill,
      minmax(calc(16.13125vmin), calc(16.13125vmin))
    );
  }

  .InventorySummaryList-Container::-webkit-scrollbar {
    display: none;
  }
}

/* For mobile and any smaller devices */
@media screen and (max-width: 480px) {
  .InventorySummaryList-Container {
    grid-template-columns: 1fr;
    gap: calc(4.45vmin);
    grid-template-rows: repeat(
      auto-fill,
      minmax(calc(32.2625vmin), calc(32.2625vmin))
    );
  }
}
