.Message-Container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Message-Icon {
    /* General Stylings */
}

.hide {
    display: none;
}

@media screen and (min-width:426px) {
    .Message-Icon {
        font-size: calc(3.3375vmin);
        margin-right: calc(2.225vmin);
    }
}

@media screen and (max-width:425px) {
    .Message-Icon {
        font-size: calc(6.675vmin);
        margin-right: calc(4.45vmin);
    }
}

